version: "3.8"

services:
  app:
    image: vickey27hub/project37-flask:latest
    container_name: project37_app
    ports:
      - "5000:5000"
    restart: always

  nginx:
    image: nginx:latest
    container_name: project37_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    restart: always
